/* E1FFB1 */
body{
  margin: 0;
  text-align: center;
}

.top-container{
  background-color: #E1FFB1;
  font-family: Apple Chancery, san-serif;
  position:relative;
  padding-top: 5px;
}
.cloud-top{
  position:relative;
  top: 30px;
  left: 200px;
  width: 17%;
}
.cloud-bottom{
  position:absolute;
  left: 350px;
  width: 15%;
}
.mountain{
  position:relative;
  width: 53%;
}
.profile_pic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.skills_pic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.gb_pic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;

}
h1{
  font-family: Gloria Hallelujah, sans-serif;
  font-size: 60px;
}
h2{
  font-family: Almarai, sans-serif;
}
h3{
  font-family: Almarai, sans-serif;
}
p{
  font-family: Ubuntu, Almarai, sans-serif;
  font-size: 20px;
}
